<a href="@ViewBag.Facebook">Facebook</a>
<environment exclude="Development">
    <a href="@ViewBag.Instagram">Instagram</a>
</environment>
<a href="@ViewBag.Twitter">Twitter</a>
<a href="@ViewBag.Youtube">YouTube</a>